on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
name: Deploy web into Firebase Hosting
jobs:
  deploy-to-firebase-hosting:
    name: Deploy Web to Firebase Hosting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - name: Decode Firebase Token
      env:
        FIREBASE_WEB_CONFIG: ${{ secrets.FIREBASE_WEB_CONFIG }}
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      run: echo $FIREBASE_WEB_CONFIG > beer_penalty/web/FirebaseConfig.js     
    - uses: subosito/flutter-action@v1
      with:
        channel: 'beta' # or: 'dev' or 'stable'
    - name: Enable web support
      run: flutter config --enable-web
    - name: Get dependencies
      run: flutter pub get
      working-directory: ./beer_penalty      
    - name: Run tests
      run: flutter test
      working-directory: ./beer_penalty      
    - name: Build WEB
      run: flutter build web
      working-directory: ./beer_penalty
    - name: Archive Production Artifact
      uses: actions/upload-artifact@master
      with:
        name: web-build
        path: beer_penalty/build/web
    - name: Download Artifact
      uses: actions/download-artifact@master
      with:
        name: web-build
        path: beer_penalty
    - name: Display structure of downloaded files
      run: ls -R
      working-directory: beer_penalty
    - name: Deploy to Firebase
      uses: w9jds/firebase-action@master
      with:
        args: deploy --only hosting --public web-build
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        PROJECT_ID: ${{ secrets.BEERS_PROJECT_ID }}
        PROJECT_PATH: ./beer_penalty

