on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
name: Test, Build Android, iOS & Web and Creates a debug apk
jobs:
  android:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - name: Decode google-services.json
      env:
        FIREBASE_ANDROID_CONFIG: ${{ secrets.FIREBASE_ANDROID_CONFIG }}
      run: echo $FIREBASE_ANDROID_CONFIG > beer_penalty/android/app/google-services.json  
    - uses: subosito/flutter-action@v1
    - name: Get dependencies
      run: flutter pub get
      working-directory: ./beer_penalty      
    - name: Run tests
      run: flutter test
      working-directory: ./beer_penalty      
    - name: Build APK
      run: flutter build apk --debug --split-per-abi
      working-directory: ./beer_penalty
    - name: Create a Debug APK
      uses: ncipollo/release-action@v1
      with:
        artifacts: "beer_penalty/build/app/outputs/apk/debug/*.apk"
        token: ${{ secrets.TOKEN }}
        allowUpdates: true
        tag: "1.0.0"
  ios:
    name: Build iOS
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - name: Decode GoogleService-Info.plist
      env:
        FIREBASE_IOS_CONFIG: ${{ secrets.FIREBASE_IOS_CONFIG }}
      run: echo $FIREBASE_IOS_CONFIG > beer_penalty/ios/Runner/GoogleService-Info.plist   
    - uses: subosito/flutter-action@v1
    - name: Get dependencies
      run: flutter pub get
      working-directory: ./beer_penalty      
    - name: Run tests
      run: flutter test
      working-directory: ./beer_penalty
    - name: Build IPA
      run: flutter build ios
      working-directory: ./beer_penalty
  web:
    name: Build WEB
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - name: Decode FirebaseConfig.js
      env:
        FIREBASE_WEB_CONFIG: ${{ secrets.FIREBASE_WEB_CONFIG }}
      run: echo $FIREBASE_WEB_CONFIG > beer_penalty/web/FirebaseConfig.js     
    - uses: subosito/flutter-action@v1
      with:
        channel: 'beta' # or: 'dev' or 'stable'
    - name: Get dependencies
      run: flutter pub get
      working-directory: ./beer_penalty      
    - name: Run tests
      run: flutter test
      working-directory: ./beer_penalty      
    - name: Build WEB
      run: flutter build web
      working-directory: ./beer_penalty 